{% extends 'base.html' %}

{% block content %}
<div class="gestion_container">
    <!-- Títulos -->
    <div class="gestion_header">
        <h3>Agregar Nuevo Cliente</h3>
        <p>Introduce los datos personales del asegurado para darlo de alta en el sistema.</p>
    </div>

    {% if error %}
        <p class="error-message">{{ error }}</p>
    {% endif %}

    <!-- Formulario -->
    <form action="{% url 'agregar_cliente' %}" method="POST" class="grid_form">
        {% csrf_token %}
        
        <div class="gestion_seccion">
            <div class="campo_gestion">
                <label for="{{ form.nombre.id_for_label }}">Nombre completo</label>
                {{ form.nombre }}
            </div>

            <div class="campo_gestion">
                <label for="{{ form.correo.id_for_label }}">Email</label>
                {{ form.correo }}
            </div>
        </div>

        <div class="gestion_seccion">
            <div class="campo_gestion">
                <label for="{{ form.fecha_nacimiento.id_for_label }}">Fecha de nacimiento</label>
                {{ form.fecha_nacimiento }}
            </div>

            <div class="campo_gestion">
                <label for="{{ form.telefono.id_for_label }}">Teléfono</label>
                {{ form.telefono }}
            </div>
        </div>

        <div class="gestion_footer">
            <button class="nav_boton nav_boton--signup">
                Guardar Cliente
            </button>
            <a href="{% url 'clientes' %}" class="enlace_cancelar">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}