{% load static %} <!-- Carga de estáticos -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Configuración responsive -->
    <title>Gestión Asegurada</title>
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Archivos CSS -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}"> <!-- Normalización de estilos entre navegadores -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!-- Estilos personalizados de la aplicación -->
</head>
<body>
    <!-- HEADER con Logo con redirección a página 'home' y
    navegación principal (Dashboard, Asegurados, Salir, Registrarse e Iniciar sesión) -->
    <header>
        <div class="contenedor"> 
            <div class="barra">
                <!-- Logo Gestión Asegurada -->
                <a class="logo" href="{% url 'home' %}">
                    Gestión<span>Asegurada</span>
                </a>

                <nav class="navegacion">
                    <!-- Si el usuario está logeado: Dashboard, Asegurados y Salir -->
                    {% if user.is_authenticated %}
                        <a href="{% url 'dashboard' %}" class="navegacion_enlace">Dashboard</a>
                        <a href="{% url 'clientes' %}" class="navegacion_enlace">Asegurados</a>
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button class="nav_boton nav_boton--login" type="submit">Salir</button>
                        </form>
                    <!-- NO está logeado: Registrarse e Iniciar sesión -->
                    {% else %}
                        <a href="{% url 'signup' %}" class="nav_boton nav_boton--signup">Registrarse</a>
                        <a href="{% url 'signin' %}" class="nav_boton nav_boton--login">Iniciar Sesión</a>
                    {% endif %}
                </nav>
            </div> 
        </div>
    </header>

    <!-- Bloques reutilizables para que las plantillas hereden esta base y sobrescriban contenido -->
    {% block banner %}{% endblock %}

    <div class="contenedor">
        {% block content %}{% endblock %}
    </div>

</body>
</html>