{% extends 'base.html' %}

{% block content %}
<h1>Hola</h1>

{{error}}
<form method="POST">
    {% csrf_token %}
    <p>N. Póliza: {{form.numero_poliza}}</p>
    <p>Tipo de seguro: {{form.tipo_seguro}}</p>
    <p>Fecha de inicio: {{form.fecha_inicio}}</p>
    <p>Fecha de vencimiento: {{form.fecha_vencimiento}}</p>
    <p>Prima total: {{form.prima_total}}</p>
    <p>Forma de pago: {{form.forma_pago}}</p>
    <p>Estatus: {{form.fecha_ultimo_pago}}</p>
    <p>Estatus: {{form.estatus}}</p>
    <button>
        Guardar
    </button>
</form>
<form action="{% url 'delete_poliza' cliente.id poliza.id %}" method="POST">
    {% csrf_token %}
    <button>
        Eliminar
    </button>
</form>
{% endblock %}