{% extends 'base.html' %}
{% load static %}

{% block banner %}
<section class="banner">
    <div class="contenedor"> 
        <div class="banner_card"> 
            <h3>Seguridad y Confianza en cada Póliza</h3>
            <p>Dashboard profesional de seguros</p>
        </div>
    </div> 
</section>
{% endblock %}

{% block content %}
<h3>Panel Principal</h3>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>

<h4>Nueva Póliza</h4>
<a href="{% url 'agregar_cliente' %}" class="nav_boton nav_boton--signup">Registrar Ahora</a>
{% endblock %}