/* ================= VARIABLES CSS ================= */
:root {
    /* Neutros */
    --blanco: #fff;
    --gris-25: #f0f0f0;;
    --gris-50: #f9f9f9;
    --gris-100: #ccc;
    --gris-66: #666;
    --negro: #000;

    /* Paleta refinada */
    --azul: #62d3ff;
    --azulhover: #98e2ff;
    --azul2: #0077b6;
    --azul3: #eef8ff;
    --rojo: #dc2626;

    /* Sombras Reutilizables */
    --shadow-sm: 0 1px 3px rgba(0,0,0,0.12);
    --shadow-md: 0 4px 6px rgba(0,0,0,0.08);

    /* Tipografía */
    --font-family: 'Poppins', Arial, sans-serif;
}

/* ================= GLOBALES ================= */
a { text-decoration: none;}
h1{ font-size: 4.8rem; }
h2 { font-size: 4rem; }
h3 { font-size: 3.2rem; }
h4 { font-size: 2.8rem; }
img { max-width: 100%; }

html {
    letter-spacing: 0.5px;
    box-sizing: border-box; /* Evita que el padding y border no aumenten el tamaño del elemento */
    font-size: 62.5%; /* convierte 1rem ≈ 10px (más fácil de calcular) */
}

*, *:before, *:after { /* Mantiene la forma de las cajas/cartas */
    box-sizing: inherit;
}

body { /* Tipografía y legibilidad */
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.6;
    background-color: var(--gris-50);
}

.card {
    border-radius: 15px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
    background-color: var(--blanco);
    padding: 2rem 3rem;
}

.link {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    font-size: 1.3rem;
    color: var(--azul);
    font-weight: bold;
}

.gestion_header {
    border-bottom: .2rem solid var(--azul); /* Un toque celeste suave */
    margin-bottom: 3rem;
    padding-bottom: 1rem;
}
.gestion_header p { font-weight:400; }
.gestion_header span { font-weight:300; }

.error-message { /* Diseño de errores */
    color: var(--rojo);
    font-weight: bold;
    font-size: 12px;
    background: #fee;
    padding: 10px;
    border-radius: 1rem;
}

.contenedor { 
    max-width: 200rem;
    width: 95%;
    margin: 0 auto; /* centra el contenido */
    overflow: hidden; /* Ocultar el desbordamiento */
}

.contenedor_principal {
    display: grid; /* organizar en filas y columnas */
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); /* Crea tantas columnas como quepan automáticamente */
    gap: 1rem 2rem; /* 10px entre filas y 20px entre columnas */
}

.gestion_container {
    max-width: 200rem;
    width: 100%;
    margin: 2rem auto;
    padding: 2rem;
}
.shadow {
    background: #fff;
    border-radius: 2rem;
    margin-top: 0;
}
.shadow_red { border: 1px solid #ff9999; }
.shadow_blue { border: 1px solid #00a8e8; }

/* ================= BARRA DE NAVEGACIÓN ================= */
header {
    background-color: var(--blanco);
    /* SOMBRA sutil pero con profundidad */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
    /* Asegura que la sombra se vea por encima de otros elementos */
    /* position: relative; */
    z-index: 10;
    padding: 1.5rem 0;
}

@media (min-width: 768px){
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.logo {
    color: var(--negro);
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
}
.logo span {
    font-weight: 700;
    color: var(--azul2);
}

@media (min-width: 768px){
    .navegacion{
        display: flex;
        gap: 3rem;
        align-items: center;
    }
}
.navegacion_enlace{
    display: block;
    text-align: center;
    font-size: 1.4rem;
    color: var(--negro);
}

/* Estilos base para los botones de la navegación */
.nav_boton {
    padding: 0.6rem 2rem; /* Reduje un poco el padding vertical */
    border-radius: 1rem;
    font-weight: 700;
    font-size: 1.4rem;
    transition: all .3s ease;
    margin: 0.3rem;
    letter-spacing: 1px;
}
.nav_boton--login { /* Botón Iniciar Sesión (Outline) */
    border: 2px solid var(--azul);
    color: var(--azul);
    background-color: var(--blanco);
}
.nav_boton--login:hover {
    color: var(--blanco);
    background-color: var(--azul);
}
.nav_boton--signup { /* Botón Regístrate (Sólido) */
    border: 2px solid var(--azul);
    color: var(--blanco);
    background-color: var(--azul);
    overflow: hidden;
}
.nav_boton--signup:hover {
    border-color: var(--azulhover);
    background-color: var(--azulhover);
    transform: scale(1.03);
}
.nav_boton--login2 { /* Botón Iniciar Sesión (Outline) */
    border: 2px solid var(--azul2);
    color: var(--azul2);
    background-color: var(--blanco);
}
.nav_boton--login2:hover {
    color: var(--blanco);
    background-color: var(--azul2);
}
.nav_boton--eliminar { /* Botón Iniciar Sesión (Outline) */
    border: 2px solid var(--rojo);
    color: var(--rojo);
    background-color: var(--blanco);
}
.nav_boton--eliminar:hover {
    color: var(--blanco);
    background-color: var(--rojo);
}

/* ================= BANNER HOME ================= */
.banner { /* Fondo/Imagen */
    background: linear-gradient(to right, rgba(0,0,0,0.4)), url('../img/banner2.jpg') center / cover no-repeat;
    min-height: 40rem; /* mejor que height */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}
.banner_card { /* La tarjeta blanca (Ahora centrada) */
    background-color: var(--blanco);
    padding: 3rem 4rem;
    max-width: 48rem; /* Ancho máximo para que no se vea gigante */
    border-radius: 3rem;
    text-align: center;
}
.banner_card h3 { margin: 0 0 1rem 0; line-height: 1.2; }
.banner_card p { margin: 0; }
@media (max-width: 768px) {
    .banner {
        height: 30rem;
    }
    .banner_card {
        width: 90%;
        padding: 2rem;
    }
}

/* ================= DISEÑO DE TARJETA SIGN ================= */
.contenedor_sign {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
}
.contenedor_sign_title {
    text-align: center;
    margin-bottom: 2rem;
}
.contenedor_sign_title h4 { margin-bottom: 1rem; }
.contenedor_sign_title span { color: #333; font-style: italic;  font-size: 14px; }
.contenedor_sign_title a { color: var(--azul2); font-weight:bold; }

/* ================= GRID FORMULARIOS ================= */
.grid_form { /* El Grid que separa en dos columnas */
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}
.gestion_seccion {
    flex: 1; /* Esto hace que las dos secciones midan lo mismo */
    min-width: 30rem;
}
.campo_gestion { margin-bottom: 2.5rem; }
.campo_gestion label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.campo_gestion input { /* Estilo para los inputs */
    width: 100%;
    padding: 1.2rem;
    border: 1px solid var(--gris-100);
    background-color: var(--gris-50);
    border-radius: 8px;
}
.gestion_footer {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}
.enlace_cancelar {
    color: var(--gris-66);
    text-decoration: none;
}

/* ================= HEADER FLEX ================= */
.gestion_header_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.gestion_header_flex span { font-weight:300; }
.tabla_contenedor { /* Contenedor */
    width: 100%;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.tabla_clientes { /* Tabla */
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}
.tabla_clientes th, td { /* Encabezados y celdas (base compartida) */
    padding: 1.5rem;
    white-space: nowrap;
    text-align: center;
}
.tabla_clientes th { /* Encabezados */
    background-color: #f0f9ff;
    color: var(--azul2);
    font-weight: bold;
    border-bottom: 2px solid #e1f5fe;
}
.tabla_clientes td { /* Celdas */
    border-bottom: 1px solid #eee;
    color: var(--gris-66);
    overflow: hidden;
    text-overflow: ellipsis;
}
.tabla_clientes tr:hover { background-color: #f8fdff; }
.cliente_nombre_link { /* Link cliente */
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: color 0.2s;
}
.cliente_nombre_link:hover { color: var(--azul2); }

/* ================= DETALLES DEL CLIENTE ================= */
.info_cliente_card h4 {
    margin-bottom: 2rem;
    border-bottom: 2px solid var(--gris-25);
    padding-bottom: 10px;
    margin-top: 5px;
}
.card.info_cliente_card { /* Tarjeta de información personal */
    max-width: 200rem;
    width: 100%;
    padding-bottom: 5rem;
}
.datos_cliente { /* Sección de notas preformateada */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    text-align: center;
}
.notas_cliente {
    background: var(--gris-25);
    padding-left: 2.5rem;
    border-radius: 1.5rem;
}
.pre_notas {
    padding-bottom: 2.5rem;
    word-break: break-word;
    white-space: pre-wrap; /* Mantiene saltos de línea pero ajusta el texto */
}

/* ================= POLIZA CARD ================= */
.polizas_grid { /* Grid de Pólizas */
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    gap: 25px;
}
.poliza_card {
    background-color: var(--blanco);
    border: 5px solid var(--azul); 
    border-radius: 3rem;
    overflow: hidden; 
    transition: all 0.3s ease;
}
.poliza_card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.4);
}
.poliza_card_header {
    margin: -20px -30px 10px -30px;
    background-color: var(--azul3); 
    padding: 2rem 4rem 2rem;
    border-bottom: 2px solid var(--azul);
}
.poliza_card_header h4 {
    margin: 0;
    color: var(--azul2);
    font-size: 1.8rem;
}
.poliza_card_body { padding: 2rem; }
.poliza_card_footer {
    background: var(--gris-25);
    padding: 1.5rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
}
.poliza_card_footer p { margin: 0;}
.poliza_card .nav_boton--signup {
    width: 100%;
    display: block;
}

.subtitulo_header {
    color: var(--gris-66);
    margin-top: 3.5rem;
}

.seccion_header {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--gris-25);
    padding-bottom: 10px;
    align-items: center;
}
.seccion_header h4 { margin: 0; }

.empty_state_text {
    grid-column: -1 / -1;
    width: 100%;
    text-align: center;
    width: 100%;
    color: var(--gris-66);
    font-weight: bold;
}

.campo_input { /* Selección de opciones (Tipo de Seguro, Estado, etc) */
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    resize: vertical;
}

.campo_gestion textarea {
    width: 100%;
    padding: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: var(--gris-50);
}

.seccion_peligro {
    margin: 4rem 0 2rem 0;
    text-align: center;
    border: 1px dashed var(--rojo);
    border-radius: 1rem;
    background-color: #fef2f2;
}

.reglas_ayuda {
    font-size: 1.2rem;
    color: var(--gris-66);
}